.character {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.character h1 {
  font-size: 20pt;
}

.details {
  align-items: center;
  /* background-color: goldenrod; */
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.details img {
  width: 30%;
}

.stats {
  border: 1px solid rgb(92, 91, 91);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 18pt;
  height: 80%;
  justify-content: space-around;
  margin: 0;
  padding: 0 2%;
}

.stats li {
  list-style: none;
}
