.user-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
}

.user {
  align-items: center;
  border: 1px solid rgba(68, 67, 67, 0.774);
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 5px;
  text-decoration: none;
  width: 20%;
}